<div class="loader-overlay" hidden="@(!IsVisible)">
    <div class="loader"></div>
</div>

@code {
    [Parameter] public bool IsVisible { get; set; }
}

<style>
    .loader-overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.7); /* changed from white to black */
        z-index: 9999;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .loader {
        border: 10px solid #2f75b5;
        border-top: 10px solid rgba(255, 64, 129, 1);
        border-radius: 50%;
        width: 60px;
        height: 60px;
        animation: spin 1s linear infinite;
    }

    @@keyframes spin {
        0%{transform: rotate(0deg);}
        100% {transform: rotate(360deg);}
    }
</style>
