@inject IJSRuntime JS
@rendermode InteractiveServer
@if (IsVisible)
{
    <div class="modal" style="display: block;">
        <div class="modal-content rounded-3">
            <div class="d-flex justify-content-center " style="background-color:rgb(237, 0, 139); color:white; line-height: 35px; padding:5px; vertical-align: middle;">
                <span class="close">Information</span>
            </div>
            <div class="modal-body">
                <p>@((MarkupString)ErrorMessage!)</p>
            </div>
            <div class="modal-footer1">
                <div class="row">
                    <div class="col-sm-12 col-md-4 col-lg-4 col-xl-4 col-xxl-4 mb-2">
                        @if (BtnYesVisible)
                        {
                            <button @onclick="OnOkClick" class=" btn btn-custom-primary">YES</button>
                        }
                    </div>
                    <div class="col-sm-12 col-md-4 col-lg-4 col-xl-4 col-xxl-4 mb-2">
                        @if (BtnOkVisible)
                        {
                            <MudButton Color="Color.Primary" Variant="Variant.Filled" OnClick="OnOkClick">OK</MudButton>
                            @* <button @onclick="OnOkClick" class=" btn btn-custom-primary">OK</button>  *@
                        }
                    </div>
                    <div class="col-sm-12 col-md-4 col-lg-4 col-xl-4 col-xxl-4 mb-2">
                        @if (BtnNoVisible)
                        {
                            <button @onclick="OnOkClick" class=" btn btn-danger btn-custom">NO</button>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
}
@code {
    [Parameter] public bool IsVisible { get; set; }
    [Parameter] public string? ErrorMessage { get; set; }
    [Parameter] public EventCallback<bool> IsVisibleChanged { get; set; }
    [Parameter] public EventCallback OnErrorLogged { get; set; }
    [Parameter] public bool BtnYesVisible { get; set; } = true;
    [Parameter] public bool BtnOkVisible { get; set; } = true;
    [Parameter] public bool BtnNoVisible { get; set; } = true;

    private void CloseModal()
    {
        IsVisible = false;
        IsVisibleChanged.InvokeAsync(false); // Notify parent to update the visibility
    }

    private async Task OnOkClick()
    {
        await OnErrorLogged.InvokeAsync(null);
        CloseModal();
    }
}
<style>
    .modal {
        position: fixed;
        top: 0;
        left: 0;
        z-index: 1000;
        display: none;
        width: 100%;
        height: 100%;
        overflow-x: hidden;
        overflow-y: hidden;
        outline: 0;
        background-color: rgba(0, 0, 0, 0.4);
    }

    .modal-content {
        background-color: white;
        margin-left: auto;
        margin-right: auto;
        padding: 0px;
        /* border: 1px solid #888; */
        max-width: 430px;
        position: relative;
        margin-top: 15%;
        color:black;
    }

    .modal-body {
        background-color: white;
        margin: 10% auto;
        padding: 0px 10px 10px 10px;
        /* border: 1px solid #888; */
        width: 100%;
        color: black;
    }

    .modal-footer1 {
        padding: 1px;
        text-align: center;
        background-color: white;
        border-top: 2px solid;
        border-color: rgb(237, 0, 139);
    }

    .btn-custom-primary {
        width: 100px;
        height: 40px;
        color: white;
        background-color: blue !important;
    }

        .btn-custom-primary:hover {
            color: white;
            background-color: blue !important;
        }

    .btn-custom {
        width: 120px;
        height: 50px;
        color: white;
        border: 1px solid transparent;
        padding: .375rem .75rem;
        font-size: 1rem;
        line-height: 1.5;
        border-radius: .25rem;
    }

</style>
