<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />  
    @* <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" rel="stylesheet" /> *@
    <link href="Bootstrap/bootstrap.min.css" rel="stylesheet" crossorigin="anonymous">
    <link href="Bootstrap/font/bootstrap-icons.min.css" rel="stylesheet" />
    <link href="_content/MudBlazor/MudBlazor.min.css" rel="stylesheet" />
    <link href="resources/css/quill.snow.css" rel="stylesheet" />
    <link href="resources/css/vmm.css?v=1.0.3" rel="stylesheet" />
    <link rel="icon" type="image/ico" href="favicon.ico" />
    <link href="_content/CodeBeam.MudBlazor.Extensions/MudExtensions.min.css" rel="stylesheet" />

    <HeadOutlet @rendermode="RenderModeForPage" />
</head>

<body>
    <Routes @rendermode="RenderModeForPage" />
    <script src="Js/site.js?v=1.0.10"></script>
    <script src="_content/BlazorBarcodeScanner.ZXing.JS/zxingjs.index.min.js"></script>
    <script src="_content/BlazorBarcodeScanner.ZXing.JS/BlazorBarcodeScanner.js"></script>
    <script src="_content/CodeBeam.MudBlazor.Extensions/MudExtensions.min.js"></script>
    <script src="_framework/blazor.web.js"></script>
    <script src="_content/MudBlazor/MudBlazor.min.js"></script>
    <script src="resources/js/quill.js"></script>
    <script src="resources/js/myjs.js?v=1.0.5"></script>
    <script src="resources/js/zxing-browser.min.js?v=1.0.0"></script>
    <script src="_content/Extensions.MudBlazor.StaticInput/NavigationObserver.js"></script>
    <script src="_content/CodeBeam.MudBlazor.Extensions/MudExtensions.min.js"></script>
    <script src="Bootstrap/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>

    <script>
        if ('serviceWorker' in navigator) {
            navigator.serviceWorker.register('service-worker.js')
                .then(function (registration) {
                    console.log('Service Worker registered with scope:', registration.scope);
                }).catch(function (error) {
                    console.log('Service Worker registration failed:', error);
                });
        }

    </script>


</body>

</html>

@code {
    private IComponentRenderMode? RenderModeForPage => NavigationManager.Uri.Contains("/Account") ? null : InteractiveServer;
}