<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<location path="." inheritInChildApplications="false">
		<system.web>
			<httpCookies httpOnlyCookies="true" requireSSL="true" />
		</system.web>
		<system.webServer>
			<handlers>
				<add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
			</handlers>
			<httpProtocol>
				<customHeaders>
					<add name="X-Content-Type-Options" value="nosniff" />
				</customHeaders>
			</httpProtocol>
			<aspNetCore processPath="dotnet" arguments=".\QPSApi.dll" stdoutLogEnabled="false" stdoutLogFile=".\logs\stdout" hostingModel="inprocess" />
		</system.webServer>
	</location>
</configuration>
<!--ProjectGuid: a1064365-738a-469b-96b5-a45eaf5ecb9f-->